*{
    margin: 0px;
}
body{
    background: url( pics/the-illusionist.png);
    font-family: 'Lato', sans-serif;
}
#container{
    padding: 40px;
}
item{
}
menu{
    position: relative;
    width: auto;
    height: 240px;
    padding-right: 10px;
    background: grey;
}
menu ul {
    position: absolute;
    top: 30px;
    left: -20px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-right: 4px;
}
menu li{
    position: relative;
    font-size: 20px;
    padding: 4px;
}
main{
    padding: 30px;
    width: auto;
    height: auto;
    background: white;
    text-align: center;
}
a{
  text-decoration: none;  
}
header{
    position: relative;
    width: 100%;
    height: 80px;
    background: black;
    border-radius: 10px 10px 0px 0px;
}
footer{
    width: 100%;
    height: 50px;
    background: black;
    color: white;
    border-radius: 0px 0px 10px 10px;
    text-align: center;
    padding-top: 10px;
}
#randomImg, img{
    margin-top: 20px;
    width: 500px;
    height: 300px;
    text-align: center;
    border-radius: 10px;
    border-style: outset;
    border-width: 7px;
    border-color: lightblue;
}

main h2{
    position: absolute;
    top: -45px;
    left: 50px;
    margin-left: -20px;
    padding-top: 5px;
}
a{
    color: black;
}
a:hover{
    color: darkgrey;
}
a:visited{
    color: darkgrey;
}
#subBreed{
    position: absolute;
    top: 440px;
    left: 200px;
}
#breeds{
    font-size: 25px;
}
#switchBtn{
    margin-top: 10px;
    width: 100px;
    height: 30px;
    border: none;
    background: darkgreen;
    border-radius: 10px;
    color: white;
    box-shadow: 5px 5px 2px 2px black;
}
#switchBtn:hover{
    background: green;
    box-shadow: 5px 5px 2px 0px black;
}
main ul{
  left: -100px;
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 300px;
  width: 300px;
  list-style: none;
    
}
main li{
    font-size: 20px;
    padding: 4px;
    
}   
h1{
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
}
h1 a{
    color: white;
}
h1 a:visited{
    color: white
}